@font-face {
    font-family: "Gilroy", sans-serif;
    src: url(../fonts/gilroy-black.ttf) format("opentype");
    src: url(../fonts/gilroy-bold.ttf) format("opentype");
    src: url(../fonts/gilroy-medium.ttf) format("opentype");
    src: url(../fonts/gilroy-regular.ttf) format("opentype");
    src: url(../fonts/gilroy-semibold.ttf) format("opentype");
}

body{
    font-family: "Gilroy", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #337ab7;
    font-size: 20px;
    line-height: 22px;
}
.container-fluid{
    max-width: 1720px;
    padding: 0 15px;
    margin: 0 auto;
}
.container{
    max-width: 1310px;
    padding: 0 15px;
    margin: 0 auto;
}
.title{
    font-weight: 700;
    text-align: center;
    font-size: 44px;
    line-height: 46px;
    color: #5e636d;
}
.profile__inner{
    display: flex;
}
.profile-info {
    padding: 60px 0 30px;
    width: 30%;
    min-height: 100%;
    background-color: #337ab7;
    color: #fff;
}
.profile-info__box {
    display: flex;
    justify-content: center;
    padding: 0 20px;
}
.profile-info__box-content {
    width: 320px;
    line-height: 24px;
}
.profile-info__img {
    width: 250px;
    height: 250px;
    margin: 0 auto 15px;
    border-radius: 50%;
    overflow: hidden;
}
.profile-info__img-link {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profile-info__name {
    font-weight: 700;
    margin-bottom: 25px;
}
.profile-info__status {
    margin-bottom: 15px;
}
.profile-info__status-box {
    margin-bottom: 50px;
}
.profile-info__status-num{
    margin-bottom: 5px;
}
.profile-info__status-num span{
    font-weight: 700;
}
.profile-info__status-line {
    background-color: #fff;
    position: relative;
    width: 100%;
    height: 12px;
    border-radius: 25px;
}
.profile-info__status-line--active {
    background-color: rgb(94, 99, 109);
    height: 100%;
    border-radius: 25px;
    position: absolute;
    top: 0;
    left: 0;
}
.profile-info__status-dock {
    text-align: center;
    margin-bottom: 20px;
}
.profile-info__status-time{
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    margin-bottom: 30px;
}
.profile-info__nav {
    margin-bottom: 65px;
    text-align: center;
}
.profile-info__nav-link:last-child .profile-info__nav-btn{
    border-bottom: 3px solid #fff;
}
.profile-info__nav-btn {
    font-weight: 600;
    padding: 18px 0;
    border-top: 3px solid #fff;
    width: 100%;
    transition: all .3s;
}
.profile-info__nav-btn:hover{
    color: #337ab7;
    background-color: #fff;
}
.profile-info__out {
    text-align: center;
    margin-bottom: 35px;
}
.profile-info__out-btn {
    padding: 14px 65px;
    background-color: #fff;
    color: #337ab7;
    font-weight: 700;
    border-radius: 30px;
    transition: all .3s;
    border: 2px solid transparent;
}
.profile-info__out-btn:hover{
    background-color: #337ab7;
    color: #fff;
    border: 2px solid #fff;
}
.profile-info__images{
    text-align: center;
}
.profile-about {
    width: 70%;   
    padding: 50px 80px 30px;
}
.profile-about__title {
    margin-bottom: 30px;
    font-weight: 800;
}
.profile-about__text {
    font-size: 27px;
    margin-bottom: 45px;
    text-align: center;
    line-height: 34px;
    color: #696d77;
}
.profile-about__img{
    display: flex;
    justify-content: center;
}
.profile-about__foto {
    margin-bottom: 35px;
    border-radius: 50%;
    overflow: hidden;
}
.profile-about__foto-avatar {
    width: 250px;
    height: 250px;
    object-fit: cover;
}
.profile-about__item {
    padding: 15px 0;
    font-weight: 500;
    font-size: 28px;
    line-height: 35px;
    text-align: center;
    margin-bottom: 40px;
    position: relative;
}
.profile-about__item::after,.profile-about__item::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    border-radius: 50%;
    background-color: rgb(51, 122, 183);
    left: 0;
}
.profile-about__item::before{
    top: 0;
}
.profile-about__item::after{
    bottom: 0;
}
.profile-about__information {
    max-width: 630px;
    position: relative;
    margin: 0 auto;
    border-radius: 40px;
    background-color: rgb(237, 237, 237);
    padding: 40px 80px 40px 100px;
}
.profile-about__information-button {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}
.profile-about__information-button svg path{
    fill: #337ab7;
}
.profile-about__information-button.active svg path{
    fill: green;
}
.profile-about__information-item {
    font-size: 22px;
    display: flex;
    white-space: nowrap;
    align-items: center;
}
.profile-about__information-item + .profile-about__information-item{
    margin-top: 25px;
}
.profile-about__information-label {
    font-weight: 600;
}
.profile-about__information-input {
    margin-left: 3px;
    background-color: transparent;
    outline: none;
    width: 100%;
    border: none;
    font-size: 22px;
    font-weight: 400;
    font-family: "Gilroy", sans-serif;
    color: #337ab7;
    pointer-events: none;
}
.profile-about__information-input.active{
    pointer-events: initial;
}
.profile-about__information-input::placeholder{
    font-size: 22px;
    font-weight: 400;
    font-family: "Gilroy", sans-serif;
    color: #337ab7;
}
.header {
    background-color: rgb(51, 122, 183);
}
.header__inner {
    height: 85px;
    display: flex;
    color: #fff;
    justify-content: space-between;
    align-items: center;
}
.header__title {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
}
.header__btn {
    font-size: 14px;
    line-height: 16px;
    opacity: 0.5;
    transition: all .3s;
}
.header__btn:hover{
    opacity: 1;
}
.header__btn + .header__btn{
    margin-left: 30px;
}
.info {
    padding: 40px 0;
}
.info__top {
    margin-bottom: 130px;
}
.info__title {
    font-size: 44px;
    line-height: 48px;
    padding: 0 15px;
    font-weight: 800;
    color: #5e636d;
    margin-bottom: 100px;
    text-align: center;
}
.info__images {
    position: relative;
}
.info__images-bg {
     width: 100%;
     object-fit: cover;
     height: 250px;
}
.info__images-logo {
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
}
.info__inner {
    border-radius: 35px;
    background-color: rgb(237, 237, 237);
    padding: 10px 50px 30px;
    position: relative;
}
.info__inner::before{
    content: '';
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 50%;
    width: 2px;
    border-radius: 50%;
    background-color: rgb(51, 122, 183);
}
.info__item {
    display: flex;
    position: relative;
}
.info__item::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    background-color: rgb(51, 122, 183);
    height: 2px;
}
.info__item-title {
    width: 50%;
    text-align: center;
    padding: 25px 10px 15px;
    font-weight: 800;
    text-transform: uppercase;
}
.info__link {
    padding: 12px 15px;
    position: relative;
    display: flex;
}
.info__link::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    background-color: rgb(51, 122, 183);
    height: 2px;
}
.info__link-item {
    width: 50%;
}
.info__link-title{
    padding-right: 10px;
    pointer-events: none;
}
.info__link-btn {
    padding-left: 30px;
}
.registration {
    background-color: rgb(51, 122, 183);
    border-radius: 20px;
    display: none;
}
.registration .fancybox-button,
.open .fancybox-button{
    color: #fff;
    width: 60px;
    height: 60px;
    padding: 10px;
    top: 15px;
    right: 15px;
    font-size: 25px;
}
.registration__inner {
    color: #fff;
}
.registration__title {
    font-size: 44px;
    line-height: 48px;
    margin-bottom: 40px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.registration__form {
    display: flex;
}
.registration__item {
    max-width: 600px;
    width: 100%;
}
.registration__input {
    width: 100%;
    border-radius: 17px;
    background-color: rgb(255, 255, 255);
    border: none;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 18px;
    font-family: "Gilroy", sans-serif;
    font-weight: 400;
    color: #337ab7;
    outline: none;
    padding: 10px 35px;
}
.registration__input::placeholder{
    color: #aac2dc;
}
.registration__item-box {
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.registration__item-text {
    font-size: 18px;
    line-height: 20px;
}
.registration__item-link {
    margin-left: 10px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 17px;
    overflow: hidden;
    width: 100%;
}
.registration__item-span {
    background-color: rgb(233, 233, 233);
    padding: 12px 17px;
    align-items: center;
    border-radius: 17px;
    color: #337ab7;
}
.registration__item-input {
    width: 100%;
    margin-bottom: 0;
    padding: 12px 17px;
    background-color: transparent;
}
.registration__box {
    width: 500px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.registration__textarea {
    border-radius: 17px;
    padding: 12px 17px;
    margin: 10px 0 20px;
    border: none;
    outline: none;
    height: 235px;
    width: 100%;
    resize: none;
    font-size: 20px;
    line-height: 22px;
    font-family: "Gilroy", sans-serif;
    font-weight: 400;
    color: #337ab7;
    background-color: rgb(255, 255, 255);
}
.registration__box-link {
    display: flex;
}

.registration__label {
    margin-left: 10px;
}
.registration__buttons {
    margin-top: 20px;
}
.registration__btn {
    border-radius: 17px;
    background-color: rgb(255, 255, 255);
    font-weight: 800;
    padding: 10px 17px;
    font-size: 18px;
    line-height: 20px;
    border: 2px solid transparent;
    cursor: pointer;
    color: #337ab7;
    transition: all .3s;
}
.registration__btn:hover{
    background-color: #337ab7;
    color: #fff;
    border: 2px solid #fff;
}
.registration__btn-close {
    margin-left: 15px;
}
.jq-checkbox.page-checkbox{
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 50%;
    border: none;
    box-shadow: none;
    vertical-align: 0;
    margin: 0;
}
.jq-checkbox.page-checkbox.checked .jq-checkbox__div{
    width: 10px;
    height: 10px;
    background-color: #337ab7;
    margin: 4px 0 0 4px;
    border: none;
    border-radius: 50%;
}
.registration__checkbox {
    margin-right: 10px;
}
.open {
    display: none;
    background-color: rgb(51, 122, 183);
    border-radius: 20px;
    color: #fff;
}
.open__inner {
    max-width: 1100px;
}
.open__title {
    font-weight: 700;
}
.open__text {
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    margin-bottom: 40px;
}
.open__form {
    max-width: 600px;
    margin: 0 auto;
}
.open__item {
    position: relative;
    padding-left: 40px;
    border-radius: 17px;
    background-color: #fff;
    margin-bottom: 10px;
}
.open__item::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 23px;
    height: 26px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    left: 30px;
}
.user-icon::before{
    background-image: url(../images/user.png);
}
.lock-icon::before{
    background-image: url(../images/lock.png);
}
.open__input {
    background-color: transparent;
    margin-bottom: 0;
}
.open__item-box {
    margin-top: 30px;
}
.open__buttons {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    column-gap: 40px;
}
.profile-form {
    padding: 60px 0;
}
.profile-form__title {
    margin-bottom: 40px;
}
.profile-form__items {
    display: flex;
    column-gap: 30px;
    justify-content: center;
    margin-bottom: 50px;
}
.profile-form__item {
    border-radius: 40px;
    background-color: rgb(237, 237, 237);
    padding: 25px 40px;
}
.profile-form__name {
    display: flex;
    align-items: center;
}
.profile-form__name-link {
    padding-right: 25px;
    position: relative;
}
.profile-form__name-link::after{
    content: '';
    position: absolute;
    right: 0px;
    top: -68px;
    border-radius: 50%;
    background-color: rgb(51, 122, 183);
    width: 2px;
    height: 160px;
}  
.profile-form__input {
    width: 100%;
    padding: 5px 10px;
    color: rgb(51, 122, 183);
    font-size: 20px;
    line-height: 22px;
    font-family: "Gilroy", sans-serif;
    font-weight: 400;
    color: #337ab7;
    border: none;
    outline: none;
    background-color: transparent;
}
.profile-form__input::placeholder{
    font-size: 20px;
    line-height: 22px;
    font-family: "Gilroy", sans-serif;
    font-weight: 400;
    color: #337ab7;
}
.profile-form__name-line{
    position: relative;
}
.profile-form__name-line + .profile-form__name-line{
    margin-top: 20px;
}
.profile-form__name-line::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    background-color: rgb(51, 122, 183);
    height: 2.5px;
    color: #337ab7;
}
.profile-form__name-input {
    padding-left: 30px;
}
.profile-form__address-item {
    display: flex;
    align-items: center;
    position: relative;
}
.profile-form__address-item::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    background-color: rgb(51, 122, 183);
    height: 2.5px;
}
.profile-form__address-item + .profile-form__address-item{
    margin-top: 22px;
}
.profile-form__address-span {
    white-space: nowrap;
    margin-left: 15px;
}
.profile-form__address-vibor{
    padding-bottom: 5px;
}
.profile-form__address-uslugi{
    opacity: 0.5;
    cursor: pointer;
    margin-left: 30px;
    font-weight: 700;
}
.profile-form__address-uslugi.active{
    opacity: 1;
}
.profile-form__language {
    width: 340px;
    margin: 0 auto 45px;
    text-align: center;
}
.profile-form__language-title {
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    line-height: 24px;
    margin-bottom: 20px;
}
.profile-form__language-link span{
    padding-bottom: 3px;
    position: relative;
    cursor: pointer;
}
.profile-form__language-link span::before{
    content: '';
    position: absolute;
    left: 50%;
    height: 2.5px;
    border-radius: 50%;
    background-color: rgb(51, 122, 183);
    bottom: 0;
    width: 0;
    transition: all .3s;
}
.profile-form__language-link + .profile-form__language-link{
    margin-top: 10px;
}
.profile-form__language-link.active span::before{
    width: 100%;
    left: 0;
}
.profile-form__block.active .profile-form__block-title--address {
    display: none;
}
.profile-form__block.active .input-adress{
    display: none;
}
.profile-form__block.active .profile-form__block-top,
.profile-form__block.active .profile-form__box{
    justify-content: flex-start;
}
.profile-form__block.active .profile-form__block-title,
.profile-form__block.active .profile-form__box-input{
    margin: 0 auto;
}
.profile-form__block-top {
    display: flex;
    column-gap: 30px;
    justify-content: space-between;
    background-color: rgb(237, 237, 237);
    border-radius: 20px;
    padding: 25px;
}
.profile-form__block-item {
    display: flex;
    align-items: flex-end;
    column-gap: 20px;
    width: 420px;
}
.profile-form__block-vibor {
    cursor: pointer;
    opacity: 0.5;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
}
.profile-form__block-vibor.active{
    opacity: 1;
}
.profile-form__block-title {
    width: 350px;
    text-align: center;
}
.profile-form__inner {
    margin-bottom: 60px;
}
.profile-form__box {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    padding: 25px 0 15px;
    align-items: flex-end;
    position: relative;
}
.profile-form__box::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 3px;
    border-radius: 50%;
    background-color: rgb(51, 122, 183);
    bottom: 0;
}
.profile-form__box-text {
    width: 420px;
    padding-left: 40px;
}
.profile-form__box-input {
    width: 350px;
    background-color: rgb(237, 237, 237);
    border-radius: 20px;
    border: none;
    outline: none;
    padding: 15px 20px;
    font-size: 20px;
    line-height: 22px;
    font-family: "Gilroy", sans-serif;
    font-weight: 400;
    color: #337ab7;
}
.profile-form__box-input::placeholder{
    font-size: 0;
    color: #337ab7;
    font-family: "Gilroy", sans-serif;
    font-weight: 400;
}
.profile-form__family {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}
.profile-form__family-title {
    width: 100%;
    text-align: center;
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 25px;
    font-weight: 700;
}
.profile-form__family-link {
    margin-bottom: 15px;
}
.profile-form__family-text {
    padding-left: 15px;
    margin-bottom: 10px;
}
.profile-form__family-input {
    width: 100%;
    max-width: 100%;
}
.profile-form__buttons {
    display: flex;
    column-gap: 20px;
    justify-content: center;
}
.profile-form__btn {
    padding: 12px 40px;
    font-weight: 700;
    transition: all .3s;
    cursor: pointer;
    background-color: rgb(51, 122, 183);
    color: #fff;
    border-radius: 20px;
    border: 2px solid transparent;
}
.profile-form__btn:hover{
    color: rgb(51, 122, 183);
    background-color: #fff;
    border: 2px solid rgb(51, 122, 183);
}
.profile-add {
    padding: 50px 0 30px;
    color: #5e636d;
    width: 70%;
}
.profile-add__title {
    color: #5e636d;
    margin-bottom: 35px;
}
.profile-add__btn {
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.profile-add__btn-link {
    position: relative;
    padding-right: 25px;
}
.profile-add__btn-link::after,
.profile-add__btn-link::before{
    content: '';
    position: absolute;
    height: 2px;
    width: 14px;
    background-color: rgb(51, 122, 183);
    border-radius: 2px;
    transition: all .4s;
}
.profile-add__btn-link::before{
    right: 0;
    transform: rotate(45deg);
    top: 5px;
}
.profile-add__btn-link::after{
    right: 0;
    transform: rotate(-45deg);
    bottom: 5px;
}
.profile-add__btn-link.active::before{
    top: 50%;
    transform: rotate(-45deg);
}
.profile-add__btn-link.active::after{
    top: 50%;
    transform: rotate(45deg);
    right: 9px;
    bottom: auto;
}
.profile-add__item {
    display: none;
    padding-top: 40px;
}
.profile-add__item-text {
    text-align: center;
}
.profile-add__list {
    margin-top: 20px;
}
.profile-add__list-link {
    position: relative;
    padding-left: 20px;
}
.profile-add__list-link::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    height: 5px;
    width: 5px;
    border-radius:50%;
    background-color: #5e636d;
}
.profile-add__text {
    margin-bottom: 60px;
    margin-top: 50px;
}
.profile-add__vibor,.profile-add__button {
    display: flex;
    justify-content: center;
}
.profile-add__vibor-link {
    padding: 22px 50px;
    margin-bottom: 40px;
    border: 5px solid rgb(51, 122, 183);
    border-radius: 10px;
    font-weight: 700;
}
.profile-add__button-link {
    border: 3px solid transparent;
}
.profile-add__button-link:hover{
    border: 3px solid rgb(51, 122, 183);
}
.unketa {
    padding: 50px 0 30px;
}
.unketa__title {
    margin-bottom: 40px;
}
.unketa__box-title{
    margin-bottom: 15px;
}
.unketa__box{
    margin-bottom: 40px;
}
.unketa__info-title {
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-weight: 700;
}
.unketa__items {
    display: flex;
    column-gap: 30px;
    justify-content: space-between;
}
.unketa__item {
    width: 370px;
}
.unketa__radio-label{
    cursor: pointer;
}
.unketa__item-title {
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 700;
}
.unketa__item-select {
    width: 100%;
}
.unketa__item-select .jq-selectbox__select {
    width: 100%;
    border-radius: 31px;
    text-shadow: none;
    border: none;
    background: rgb(237, 237, 237);
    font-size: 20px;
    line-height: 22px;
    padding: 15px 55px 15px 30px;
    font-family: "Gilroy", sans-serif;
    height: auto;
    font-weight: 400;
    color: #337ab7;
}
.unketa__item-option {
    white-space: pre-line !important;
}
.unketa__item-select .jq-selectbox__trigger{
    border-left: 0;
}
.unketa__item-select .jq-selectbox__select-text{
    width: 100% !important;
}
.jq-selectbox.focused .jq-selectbox__select{
    border: none;
}
.unketa__item-select .jq-selectbox__trigger-arrow{
    width: 17px;
    right: 20px;
    top: 17px;
    height: 17px;
    border: none;
    background-image: url(../images/arrow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(-90deg);
    transition: all .3s;
}
.unketa__item-select.opened .jq-selectbox__trigger-arrow{
    transform: rotate(0deg);
}
.unketa__item-select .jq-selectbox__dropdown{
    box-shadow: none;
    background-color: #fff;
    border: none;
    font-size: 20px;
    line-height: 22px;
    font-family: "Gilroy", sans-serif;
    font-weight: 400;
    width: 100% !important;/*dobavil*/
}
.unketa__item-select .jq-selectbox__dropdown ul{
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}
.jq-selectbox.unketa__item-select li{
    color: #337ab7;
    padding-left: 30px;
}
.jq-selectbox.unketa__item-select li:hover{
    background-color: transparent;
}
.jq-selectbox.unketa__item-select li.selected{
    background-color: transparent;
}
.unketa__item-two {
    width: 470px;
}
.unketa__radios {
    display: flex;
    column-gap: 25px;
    justify-content: space-between;
}
.unketa__radio-input.jq-checkbox, .unketa__radio-input.jq-radio {
    width: 16px;
    height: 16px;
    border: 3px solid #337ab7;
    vertical-align: -2px;
    box-shadow: none;
    background: transparent;
    margin-right: 8px;
    border-radius: 50%;
}
.unketa__radio-input.jq-radio.checked .jq-radio__div {
    background: transparent;
    box-shadow: none;
}
.unketa__radio-input.jq-radio.checked {
    background: #337ab7;
}
.unketa__bottom{
    margin: 50px 0;
    padding-left: 50px;
}
.unketa__bottom-label{
    display: block;
}
.unketa__bottom-label + .unketa__bottom-label{
    margin-top: 13px;
}
.unketa__bottom-checkbox.checked .jq-checkbox__div{
    box-shadow: none;
    border: none;
    background: #337ab7;
}
.unketa__bottom-checkbox.checked{
    background: #337ab7;
}
.statistic-info__name, .statistic-info__status{
    font-size: 16px;
    line-height: 16px;
}
.statistic-info__name span,
.statistic-info__status span{
    display: block;
    margin-top: 5px;
    font-size: 22px;
    line-height: 24px;
    text-transform: capitalize;
}
.statistic-info__box{
    margin-bottom: 40px;
}
.statistic-content {
    width: 70%;
    padding: 40px 30px 30px;
}
.statistic-content__title {
    text-align: center;
    margin-bottom: 50px;
}
.statistic-content__items {
    display: flex;
    column-gap: 20px;
    align-items: center;
    margin-bottom: 40px;
}
.statistic-content__item {
    white-space: nowrap;
}
.statistic-content__select{
    max-width: 430px;
}
.statistic-content__option {
    height: auto;
    font-size: 16px;
    line-height: 18px;
}
.statistic-content__link {
    display: flex;
    column-gap: 20px;
    width: fit-content;
}
.statistic-content__link + .statistic-content__link{
    margin-top: 10px;
}
.statistic-content__link-text{
    width: 280px;
}
.statistic-content__link-num{
    min-width: 40px;
}
.document {
    width: 70%;
    padding: 30px 40px;
}
.document__title {
    margin-bottom: 40px;
}
.document__filter {
    display: flex;
    align-items: flex-end;
    column-gap: 30px;
    margin-bottom: 20px;
}
.document__filter-item {
    width: 430px;
}
.document__filter-title {
    margin-bottom: 5px;
    font-weight: 700;
    padding-left: 5px;
}
.document__filter-subtitle {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 5px;
    padding-left: 5px;
}
.document__filter-input {
    background-color: rgb(237, 237, 237);
    padding: 10px 15px;
    border-radius: 10px;
}
.document__filter-btn {
    transition: all .8s;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
}
.document__filter-btn:hover{
    transform: rotate(180deg);
}
.document__sort {
    display: flex;
    column-gap: 30px;
    margin-bottom: 70px;
}
.document__sort-item {
    width: 50%;
}
.document__sort-title {
    font-weight: 700;
    margin-bottom: 5px;
    padding-left: 5px;
}
.document-table {
    border-radius: 10px;
    overflow: hidden;
}
.document__box-title {
    font-size: 32px;
    line-height: 34px;
    color: #fff;
    background-color: #256a92;
    text-align: center;
    padding: 10px;
}
.document-table__inner {
    padding: 10px;
    background-color: #EEE;
}
.document-table__items {
    display: flex;
    align-items: center;
}
.cal-1{
    width: 35px;
}
.cal-2{
    width: 70px;
    text-align: center;
}
.cal-3{
    width: 180px;
}
.cal-4{
    width: 80px;
    text-align: center;
}
.cal-5{
    width: 480px;
}
.cal-6{
    width: 100px;
    text-align: center;
}
.document-table__link {
    display: flex;
    margin-top: 10px;
    position: relative;
}
.document-table__list{
    height: 250px;
    overflow-y: auto;
}
.document-table__link::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #337ab7;
    border-radius: 50%;
}
.document-table__view-link {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 2px solid #337ab7;
}
.document-table__number,.document-table__date{
    color: #5e636d;
}
.document-table__downlaod-btn {
    width: 22px;
    height: 21px;
    background-image: url(../images/down.png);
    background-repeat: no-repeat;
    background-position: center;
}
.document-table__tel {
    position: relative;
    padding-left: 50px;
}
.document-table__tel::before{
    content: '';
    position: absolute;
    left: 12px;
    top: 0;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-image: url(../images/tel.png);
}
.document-table__action-btn {
    width: 28px;
    height: 28px;
    background-image: url(../images/action.png);
    background-repeat: no-repeat;
    background-position: center;
}
.mCSB_scrollTools .mCSB_draggerRail {
    width: 4px;
}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    background-color: #337ab7;
    transition: none;
}
.document-popup {
    display: none;
    max-width: 680px;
    border-radius: 20px;
}
  
.document-popup .fancybox-button.fancybox-close-small{
    display: none;
}
.document-popup__top {
    background-color: rgb(37, 106, 146);
    text-align: center;
    color: #fff;
    padding: 10px 20px;
}
.document-popup.fancybox-content{
    padding: 0;
}
.document-popup__title {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 5px;
}
.document-popup__status {
    padding: 20px 25px;
    width: 100%;
}
.document-popup__select {
    margin-bottom: 20px;
    width: 100%;
}
.document-popup__select .jq-selectbox__dropdown{
    top: auto !important;
    bottom: 0;
}

.document-popup__text {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 10px;
}
.document-popup__textarea {
    padding: 15px;
    width: 100%;
    height: 180px;
    border: none;
    resize: none;
    border-radius: 20px;
    font-family: "Gilroy", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #337ab7;
    font-size: 16px;
    line-height: 18px;
    outline: none;
    background-color: #eee;
    margin-bottom: 40px;
}
.document-popup__textarea::placeholder{
    font-family: "Gilroy", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #337ab7;
    font-size: 16px;
    line-height: 18px;
}
.document-popup__buttons {
    display: flex;
    justify-content: space-between;
}
.document-popup__btn {
    border-radius: 10px;
    border: none;
    color: #fff;
    padding: 10px 35px;
    background-color: rgb(37, 106, 146);
}
.document-popup__btn-close{
    background-color: rgb(245, 80, 83);
}
.document-table__input{
    margin-left: 5px;
}
.roli {
    width: 70%;
    padding: 30px 40px;
}
.roli__title {
    margin-bottom: 30px;
}
.roli__btn {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.roli__btn-link {
    border-radius: 10px;
    background-color: rgb(37, 106, 146);
    padding: 10px 35px;
    color: #fff;
}
.roli__inner {
    font-size: 18px;
    line-height: 20px;
}
.roli__item + .roli__item{
    margin-top: 30px;
}
.roli__item-title {
    text-align: center;
    margin-bottom: 10px;
}
.roli__buttons {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    margin-top: 20px;
}
.roli__button-link {
    border-radius: 10px;
    background-color: rgb(37, 106, 146);
    padding: 10px 35px;
    color: #fff;
}
.roli__button-link--grey {
    background-color: #545454;
}
.info-content {
    width: 70%;
    padding: 30px 40px;
}
.info-content__title {
    margin-bottom: 50px;
}
.info-content__inner {
    max-width: 680px;
    border-radius: 30px;
    background-color: rgb(211, 211, 211);
    padding: 40px 40px;
    margin: 0 auto;
}
.info-content__btn {
    border-radius: 10px;
    background-color: rgb(37, 106, 146);
    color: #fff;
    display: block;
    padding: 15px 10px;
}
.info-content__btn + .info-content__btn{
    margin-top: 30px;
}
  















@media(max-width:1400px){
    .profile-info{
        padding-top: 40px;
    }
    .profile-info__img{
        width: 160px;
        height: 160px;
    }
    .profile-about__foto-avatar{
        width: 200px;
        height: 200px;
    }
    .profile-about {
        padding: 40px 30px 30px;
    }
    .profile-about__title{
        margin-bottom: 15px;
    }
    .profile-about__text {
        font-size: 20px;
        margin-bottom: 20px;
        text-align: center;
        line-height: 24px;
    }
    .profile-about__item {
        padding: 10px 0;
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 30px;
    }
    .profile-about__item::after, .profile-about__item::before{
        height: 3px;
    }
    .profile-about__information {
        border-radius: 30px;
        padding: 30px 80px 30px 50px;
    }
    .profile-about__information-item + .profile-about__information-item {
        margin-top: 15px;
    }
    .profile-about__information-item,.profile-about__information-input, .profile-about__information-input::placeholder {
        font-size: 18px;
        line-height: 20px;
    }
    .profile-info__status-box {
        margin-bottom: 25px;
    }
    .profile-info__status-dock {
        margin-bottom: 10px;
    }
    .profile-info__nav-btn{
        font-size: 16px;
        line-height: 18px;
        padding: 12px 0;
    }
    .profile-info__nav {
        margin-bottom: 30px;
    }
    .info__images-logo{
        width: 150px;
        top: -20px;
    }
    .info__images-bg{
        height: 170px;
    }
    .header__inner{
        height: 60px;
    }
    .info {
        padding: 30px 0;
        font-size: 18px;
        line-height: 20px;
    }
    .info__title {
        font-size: 30px;
        line-height: 32px;
        margin-bottom: 30px;
    }
    .info__top {
        margin-bottom: 40px;
    }
    .info__item-title{
        padding: 15px;
    }
    .open__title{
        margin-bottom: 20px;
        font-size: 35px;
        line-height: 38px;
    }
    .registration__title {
        font-size: 35px;
        line-height: 38px;
        margin-bottom: 25px;
    }
    .profile-form__title {
        font-size: 35px;
        line-height: 38px;
        margin-bottom: 30px;
    }
    .profile-form {
        padding: 40px 0 30px;
    }
    .profile-form__items{
        margin-bottom: 35px;
    }
    .profile-form__inner {
        margin-bottom: 40px;
    }
    .profile-form__items{
        flex-wrap: wrap;
        gap: 25px;
    }
    .profile-add {
        padding-top: 40px;
    }
    .profile-add__title {
        font-size: 35px;
        line-height: 38px;
        margin-bottom: 20px;
    }
    .profile-add__text {
        margin-bottom: 40px;
        margin-top: 30px;
    }
    .profile-add__vibor-link {
        padding: 18px 35px;
        margin-bottom: 31px;
        border: 4px solid rgb(51, 122, 183);
    }
    .profile-add__item-text,.profile-add__list-link,.profile-add__text{
        font-size: 16px;
        line-height: 18px;
    }
    .unketa{
        padding-top: 40px;
    }
    .unketa__title,.document__title,.roli__title,.statistic-content__title,
    .info-content__title{
        font-size: 35px;
        line-height: 38px;
        margin-bottom: 30px;
    }
    .document {
        padding: 30px 0;
    }
    .document__sort{
        margin-bottom: 40px;
    }
    .document-popup__textarea{
        height: 150px;
    }
    .roli__btn-link,.roli__button-link{
        font-size: 14px;
        line-height: 16px;
    }
    .info-content__inner{
        padding: 30px;
    }
}
@media(max-width:1300px){  
    .document-table{
       overflow: auto;
    }
    .document-table__inner,.document__box-title{
        width: 1000px;
    }
}
@media(max-width:1200px){  
    .registration__box{
        max-width: 400px;
        width: 100%;
    }
    .unketa__items{
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }
    .unketa__item-two{
        order: 1;
    }
    .unketa__bottom{
        padding-left: 0;
    }
    .document__sort{
        flex-wrap: wrap;
    }
    .document__sort-item{
        width: 100%;
    }
    .document__sort-item + .document__sort-item{
        margin-top: 20px;
    }
    .roli,.info-content{
        padding: 30px 0;
    }
}
@media(max-width:1100px){  
    .profile-info{
        width: 300px;
    }
    .profile-info__box-content{
        text-align: center;
    }
    .profile-about {
        padding: 30px 25px 30px;
    }
    .profile-info__status-box {
        margin-bottom: 35px;
    }
    .profile-about__information{
        padding-left: 50px;
    }
    .profile-about__title {
        font-size: 35px;
        line-height: 38px;
        margin-bottom: 20px;
    }
    .profile-about__item::after,.profile-about__item::before{
        height: 3px;
    }
    .profile-about__foto-avatar{
        width: 150px;
        height: 150px;
    }
    .profile-about__item {
        font-size: 18px;
        line-height: 20px;
    }
    .info__inner {
        border-radius: 25px;
        padding: 10px 20px 20px;
    }
    .profile-add__title {
        font-size: 26px;
        line-height: 30px;
        margin-bottom: 10px;
    }
    .profile-add__item {
        padding-top: 25px;
    }
    .profile-add__button,.profile-add__vibor-link{
        font-size: 16px;
        line-height: 18px;
    }
    .profile-add__vibor-link {
        padding: 12px 20px;
        margin-bottom: 20px;
    }
    .profile-form__btn {
        padding: 10px 20px;
        border-radius: 15px;
    }
    .statistic-content__items{
        flex-wrap: wrap;
    }
    .statistic-content__select {
        max-width: 100%;
    }
    .statistic-content__item{
        margin-bottom: 15px;
    }
}
@media(max-width:1000px){ 
    .info__item-title--adress,.info__inner::before {
        display: none;
    }
    .info__link-title{
        padding: 0;
        width: 100%;
        pointer-events: initial;
    }
    .info__link{
        flex-wrap: wrap;
        justify-content: center;
    }
    .info__inner{
        text-align: center;
    }
    .info__item-title{
        width: 100%;
        padding: 10px;
    }
    .info__link-btn{
        padding: 0;
        width: auto;
        margin-top: 7px;
        display: none;
    }
    .profile-form__item {
        border-radius: 20px;
        padding: 20px 25px;
    }
    .profile-form__input,.profile-form__input::placeholder,.profile-form__address-span,
    .profile-form__language-link,.profile-form__box-input,.profile-form__box-input::placeholder{
        font-size: 16px;
        line-height:18px;
    }
    .profile-form__address-item + .profile-form__address-item {
        margin-top: 15px;
    }
    .profile-form__language-title {
        font-size: 20px;
        
        line-height: 22px;
        margin-bottom: 15px;
    }
    .profile-form__block-title{
        display: none;
    }
    .profile-form__block-item{
        justify-content: center;
        width: 100%;
    }
    .statistic-content{
        padding: 30px 0;
    }
    .document__title{
        font-size: 28px;
        line-height: 32px;
    }
    .document__filter-title,.document__sort-item,.document__sort-select .jq-selectbox__select,.document__sort-option{
        font-size: 16px;
        line-height: 18px;
    }
    .document__box-title{
        font-size: 22px;
        line-height: 24px;
    }
    .document-table__inner{
        font-size: 15px;
    }
}
@media(max-width:900px){
    .header__inner {
        height: auto;
        padding: 15px 0;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }
    .header__title{
        width: 100%;
    }
    .header__box{
        margin-top: 5px;
    }
    .open__text {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 25px;
    }
    .open__item-box {
        margin-top: 20px;
    }
    .open__buttons {
        margin-top: 30px;
    }
    .registration__form{
        flex-wrap: wrap;
    }
    .registration__item{
        max-width: 100%;
        margin-bottom: 20px;
    }
    .registration__box{
        max-width: 100%;
        margin-left: 0;
    }
    .registration__textarea {
        height: 150px;
    }
}
@media(max-width:750px){
    .profile__inner{
        flex-wrap: wrap;
    }
    .profile-info{
        width: 100%;
        order: 1;
    }
    .profile-about{
        width: 100%;
    }
    .profile-about__foto {
        margin-bottom: 20px;
    }
    .profile-form__item,.profile-form__name-box{
        width: 100%;
    }
    .profile-form__title {
        font-size: 28px;
        line-height: 30px;
        margin-bottom: 20px;
    }
    .profile-form {
        padding: 30px 0;
    }
    .profile-form__language{
        margin-bottom: 30px;
    }
    .profile-form__family {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
    .profile-form__block-top{
        padding: 15px;
    }
    .profile-form__box{
        flex-wrap: wrap;
    }
    .profile-form__box-input{
        width: 100%;
    }
    .profile-form__box-text{
        padding-left: 0;
        margin-bottom: 10px;
    }
    .profile-form__btn{
        font-size: 14px;
        line-height: 16px;
        padding: 9px 15px;
    }
    .input-adress{
        margin-top: 7px;
    }
    .profile-add{
        width: 100%;
    }
    .unketa__title{
        margin-bottom: 20px;
    }
    .unketa__info-title{
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 18px;
    }
    .unketa__item-title{
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 18px;
    }
    .unketa__item-select .jq-selectbox__select{
        font-size: 16px;
        line-height: 18px;
    }
    .jq-selectbox.unketa__item-select li,.unketa__radio-label{
        font-size: 16px;
        line-height: 18px;
    }
    .unketa__bottom{
        margin: 30px 0;
    }
    .unketa__radios{
        justify-content: center;
    }
    .unketa__title,.roli__title {
        font-size: 28px;
        line-height: 30px;
        margin-bottom: 20px;
    }
    .unketa{
        padding-top: 30px;
    }
    .unketa__bottom-label{
        font-size: 14px;
        line-height: 16px;
    }
    .statistic-content{
        width: 100%;
    }
    .statistic-info__box {
        margin-bottom: 20px;
    }
    .document,.roli{
        width: 100%;
    }
    .info-content{
        width: 100%;
    }
    .info-content__title{
        font-size: 22px;
        line-height: 24px;
    }
    .info-content__btn{
        font-size: 14px;
        line-height: 18px;
        padding: 10px;
    }
    .info-content__inner {
        padding: 20px;
    }
    .info-content__btn + .info-content__btn {
        margin-top: 15px;
    }
}
@media(max-width:500px){
    .profile-about__information{
        padding: 20px;
    }
    .profile-about {
        padding: 20px 15px 20px;
    }
    .profile-about__information-item{
        flex-wrap: wrap;
    }
    .profile-about__information-label{
        margin-bottom: 5px;
    }
    .profile-about__information-input{
        margin-left: 0;
    }
    .profile-about__item {
        font-size: 18px;
        line-height: 22px;
    }
    .profile-info{
        padding-top: 30px;
    }
    .profile-about__information-button {
        top: 15px;
        right: 15px;
    }
    .profile-about__information-input{
        font-size: 14px;
    }
    .header__box{
        flex-wrap: wrap;
        gap: 5px 30px;
        justify-content: center;
        display: flex;
    }
    .header__btn + .header__btn {
        margin-left: 0px;
    }
    .info {
        padding: 20px 0;
        font-size: 16px;
        line-height: 18px;
    }
    .info__title {
        font-size: 22px;
        line-height: 24px;
        margin-bottom: 25px;
    }
    .info__images-logo{
        width: 100px;
        top: 0;
    }
    .info__images-bg {
        height: 130px;
    }
    .info__top {
        margin-bottom: 30px;
    }
    .open__item-box{
        flex-wrap: wrap;
    }
    .open__item-box .registration__item-text{
        margin-bottom: 10px;
    }
    .open__item-box .registration__item-link{
        margin-left: 0;
    }
    .open.fancybox-content{
        padding: 20px 15px;
    }
    .open .fancybox-button,
    .registration .fancybox-button{
        color: #fff;
        width: 50px;
        height: 50px;
        padding: 10px;
        top: 0px;
        right: 0px;
    }
    .registration__title {
        margin-bottom: 15px;
        font-size: 30px;
        line-height: 32px;
    }
    .open__buttons{
        column-gap: 20px;
    }
    .registration.fancybox-content{
        padding: 30px 15px;
    }
    .registration__text,.registration__label{
        font-size: 15px;
        line-height: 17px;
    }
    .registration__input{
        padding: 10px 15px;
    }
    .registration__btn {
        border-radius: 12px;
        padding: 10px 14px;
        font-size: 12px;
        line-height: 16px;
    }
    .registration__item-box{
        flex-wrap: wrap;
    }
    .registration__item-text{
        margin-bottom: 10px;
    }
    .registration__item-link{
        margin-left: 0;
    }
    .profile-form__inner {
        margin-bottom: 30px;
    }
    .profile-form__buttons{
        flex-wrap: wrap;
    }
    .profile-form__btn,.profile-form__language{
        width: 100%;
    }
    .profile-form__btn + .profile-form__btn{
        margin-top: 15px;
    }
    .profile-form__title {
        font-size: 24px;
        line-height: 26px;
    }
    .profile-form__block-item{
        flex-wrap: wrap;
    }
    .profile-form__block-item span{
        width: 100%;
        margin-bottom: 7px;
        text-align: center;
    }
    .profile-form__block-top {
        padding: 10px;
    }
    .profile-form__address-vibor{
        flex-wrap: wrap;
    }
    .profile-form__address-vibor span{
        width: 100%;
        margin-bottom: 5px;
    }
    .profile-form__address-uslugi {
        margin-left: 20px;
    }
    .profile-form__family-text{
        font-size: 16px;
        line-height: 18px;
    }
    .profile-add__vibor-link{
        width: 100%;
    }
    .profile-add__button-link,.profile-add__vibor-link{
        text-align: center;
    }
    .profile-add {
        padding-top: 30px;
    }
    .profile-add__title {
        font-size: 22px;
        line-height: 24px;
    }
    .statistic-content__link{
        width: auto;
        flex-wrap: wrap;
        font-size: 16px;
        line-height: 18px;
    }
    .statistic-content__link-text{
        width: 100%;
        margin-bottom: 5px;
        text-align: center;
    }
    .statistic-content__link-num{
        min-width: auto;
    }
    .statistic-content__items {
        margin-bottom: 20px;
    }
    .statistic-content__link + .statistic-content__link {
        margin-top: 0px;
    }
    .statistic-content__item{
        text-align: center;
        width: 100%;
    }
    .document__title {
        font-size: 24px;
        line-height: 26px;
    }
    .document-popup__buttons{
        flex-wrap: wrap;
    }
    .document-popup__btn{
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
    }
    .document-popup__status{
        padding: 15px 10px;
    }
    .roli__buttons{
        flex-wrap: wrap;
    }
    .roli__button-link{
        width: 100%;
        text-align: center;
    }
    .roli__button-link + .roli__button-link{
        margin-top: 10px;
    }
}